@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-slate-900 text-white font-sans antialiased;
  }

  ::selection {
    @apply bg-purple-500 text-white;
  }
}

@layer utilities {
  .glass {
    @apply backdrop-blur-md bg-white/10 border border-white/10 shadow-lg;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-700 rounded-full hover:bg-slate-600 transition-colors;
}